h3 {
  margin: 15px 0;
}

h4 {
  margin: 15px 0;
}

.restartGameButton {
  cursor: pointer;
}

.board {
  margin-top: 20px;
  display: flex;
  width: 460px;
  justify-content: center;
  flex-wrap: wrap;

  &.disabledClick {
    pointer-events: none;
  }
}
