.GameBoard {
  &__gameInfo {
    h3 {
      margin: 15px 0;
    }

    h4 {
      margin: 15px 0;
    }
  }

  &__restartGameButton {
    cursor: pointer;
  }

  &__board {
    margin-top: 20px;
    display: flex;
    width: 460px;
    justify-content: center;
    flex-wrap: wrap;

    &.disabled {
      pointer-events: none;
    }
  }
}
